<appSettings>
	<add key="MailServer" value="dev-smtp.vidly.com" />
	<add key="GoogleAppId" value="50335507733-l23srtetnie6960j5oebqmbeaftf6qgl.apps.googleusercontent.com"/>
	<add key="GoogleAppSecret" value="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"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
